@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

:root{
    --text-primary: #3AABA5;
    --text-light: #F4F8F7;
    --texte-gray-1: #666666;

    --bg-primary: var(--text-primary);
    --bg-light: var(--text-light);
    --bg-gray-1: var(--bg-gray-1);
}

@theme inline {
    --color-primary: var(--text-primary);
    --color-light: var(--text-light);
    --font-gray-1: var(--text-gray-1);

    --font-roboto:  "Roboto", sans-serif;
    --font-inter: "Inter", sans-serif;

    --bg-primary: var(--text-primary);
    --bg-light: var(--text-light);
    --bg-gray-1: var(--text-gray-1);
}

@layer components{
    .main-container{
        max-width: 1440px;
        margin: 0 auto;
    }
}
